
/.metadata/
/bin/
node_modules/
.classpath
.project
.recommenders
.gradle/
build/
.settings/
out/
.idea/
temp/
/src/main/resources/static/index.html
/src/main/resources/static/index_bundle.js
src/main/resources/medium.jks